/* app/src/App.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* MUIのCssBaselineに任せるため、背景色のみ指定 */
.App {
  background-color: #f4f6f8; /* theme.jsで設定した背景色 */
  min-height: 100vh;
}